
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="icon"
          type="image/png"
          href="favicon.ico">
    <link rel="icon" type="image/png" href="favicon-32x32.png" sizes="32x32" />
    <link rel="icon" type="image/png" href="favicon-16x16.png" sizes="16x16" />

    <title>    Welcome
 | KMED</title>

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">

    <!-- Core Styles -->
    <link rel="stylesheet" href="http://178.62.222.196/assets/css/bootstrap-reboot.min.css"/>
    <link rel="stylesheet" href="http://178.62.222.196/assets/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="http://178.62.222.196/assets/css/bootstrap-grid.min.css"/>
    <link rel="stylesheet" href="http://178.62.222.196/assets/plugins/fontawesome/css/fontawesome-all.min.css"/>
    <link rel="stylesheet" type="text/css" href="http://178.62.222.196/assets/plugins/slick/slick.css"/>
    <link rel="stylesheet" type="text/css" href="http://178.62.222.196/assets/plugins/slick/slick-theme.css"/>
    <link rel="stylesheet" type="text/css" href="http://178.62.222.196/assets/plugins/select2/dist/css/select2.min.css"/>

    <!-- Theme Styles -->
    <link rel="stylesheet" href="http://178.62.222.196/assets/css/override.css"/>
    <link rel="stylesheet" href="http://178.62.222.196/assets/css/custom.css"/>

    <!-- Core Scripts -->
    <script src="http://178.62.222.196/assets/js/jquery-v3.3.1.min.js"></script>
    <script src="http://178.62.222.196/assets/js/modernizr.js"></script>
    <script src="http://178.62.222.196/assets/js/bootstrap.bundle.min.js"></script>
    <script src="http://178.62.222.196/assets/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.17.0/jquery.validate.min.js"></script>

</head>
<body>

<!-- Nav -->
<%= render partial: 'partials/navbar' %>
<!-- /Nav -->

    <!-- Slider -->
    <section id="slider" class="clearfix">

        
        

        <div class="gradient w-100 h-100 slide" style="display: inline-block;">
            <div class="d-flex w-100 h-100">
                <div class="container d-flex h-100 w-100" style="align-items: center;">
                    <div class="justify-content-center align-self-center p-3 width-100">
                        <h1 class="text-white">Programmatic media<br />buying made for healthcare</h1>
                    </div>
                </div>
            </div>
        </div>
        <div class="contact-us h-100 w-100 slide">
            <div class="d-flex w-100 h-100">
                <div class="container d-flex h-100 w-100">
                    <div class="justify-content-center align-self-center text-center p-3 width-100" style="width: 100%;">
                        <div class="text-center width-100" style="display: block;">
                            <h1 class="text-white">The next state of<br />KrescendoMED<br />coming in Q1 2018</h1>

                            <div class="clearfix"></div>

                            <br />

                            <a href="#next-state" class="text-white smooth-scroll">find out more</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- /Slider -->

    <div class="slider-more slider-more-right clearfix pb-0 d-none d-md-block" id="slider-more">
        <div class="float-left">
        	<%= image_tag("kmed-tab-logo.png", :alt => "kmed-tab-logo") %>
        </div>
        <div class="float-right pt-3 pl-3 pb-3">
        	<%= image_tag("tab-arrow.png", :alt => "tab-arrow") %>
        </div>
        <div class="float-right text-left ml-3 pl-2 pr-2 pb-2 text-turquoise">
            <a href="#next-state" class="smooth-scroll">find out more</a> about<br />
            <span class="heading">the next state of Kmed</span>
        </div>
    </div>

    <!-- Info -->
    <section id="info" class="pt-5 pb-5">
        <div class="container">
            <div class="row clearfix mb-5 mt-5">
                <div class="col-md-12">
                    <h2>The most precise healthcare advertising</h2>
                </div>
            </div>
            <div class="row clearfix">
                <div class="col-md-6 col-sm-12 mb-5">
                    <div class="row clearfix">
                        <div class="col-md-1 col-3">
                            <div class="d-flex h-100">
                            	<%= image_tag("stck-icon-ppl-1.svg")%>
                                <div class="d-flex h-100 w-100">
                                    <div class="justify-content-center align-self-center">

                                        <img src="/assets/images/stck-icon-ppl-1.svg" height="49" class="d-block d-md-none">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-11 col-9">
                            <div class="d-flex h-100 w-100">
                                <div class="justify-content-center align-self-center">
                                    <h5 class="mb-0"><strong>Patient & healthcare provider precision targeting with speed & accuracy</strong></h5>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row clearfix">
                        <div class="col-md-12">
                            <p class="mt-1">Real-time data mining to meet patients, caregivers, and healthcare providers at the precise moments and in the precises spaces in which they are making decisions regarding you.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-sm-12 mb-5">
                    <div class="row clearfix d-none d-md-flex">
                        <div class="col-1">
                        	<%= image_tag("stck-icon-ppl-2.svg")%>
                        </div>
                        <div class="col-11">

                            <div class="d-flex h-100 w-100">
                                <div class="justify-content-center align-self-center">
                                    <h5><strong>World class buying power</strong></h5>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row clearfix d-flex d-md-none">
                        <div class="col-md-11 col-9">
                            <div class="d-flex h-100 w-100">
                                <div class="justify-content-center align-self-center">
                                    <h5><strong>World class buying power</strong></h5>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-1 col-3">
                            <div class="d-flex h-100">
                                <img src="/assets/images/stck-icon-ppl-2.svg" class="d-none d-md-block" style="margin-left: auto; margin-right: auto;">
                                <div class="d-flex h-100 w-100">
                                    <div class="justify-content-center align-self-center">
                                        <img src="/assets/images/stck-icon-ppl-2.svg" height="49" class="d-block d-md-none">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row clearfix">
                        <div class="col-md-12">
                            <p class="mt-1">Unique cross-channel user data into direct access to 350+ ad networks, premium publishers, and media exchanges across the healthcare ecosystem.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row clearfix">
                <div class="col-md-6 col-sm-12 mb-5">
                    <div class="row clearfix">
                        <div class="col-md-1 col-3">
                            <div class="d-flex h-100">
                            	<%= image_tag("khub-ppl-icon.svg")%>
                                <div class="d-flex h-100 w-100">
                                    <div class="justify-content-center align-self-center">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-11 col-9">
                            <div class="d-flex h-100 w-100">
                                <div class="justify-content-center align-self-center">
                                    <h5><strong>Connected patient recruitment</strong></h5>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row clearfix">
                        <div class="col-md-12">
                            <p class="mt-1">A single, connected eco-system closing the loop, reporting on, and optimizing conversion tactics in realtime.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-sm-12 mb-5">
                    <div class="row clearfix d-none d-md-flex">
                        <div class="col-1">
                        	<%= image_tag("stck-icon-ppl-3.svg")%>
                        </div>
                        <div class="col-11">
                            <div class="d-flex h-100 w-100">
                                <div class="justify-content-center align-self-center">
                                    <h5><strong>For full product lifecycle marketing</strong></h5>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row clearfix d-flex d-md-none">
                        <div class="col-md-11 col-9">
                            <div class="d-flex h-100 w-100">
                                <div class="justify-content-center align-self-center">
                                    <h5><strong>For full product lifecycle marketing</strong></h5>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-1 col-3">
                            <div class="d-flex h-100">
                        	  <%= image_tag("stck-icon-ppl-3.svg")%>
                                <div class="d-flex h-100 w-100">
                                    <div class="justify-content-center align-self-center">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row clearfix">
                        <div class="col-md-12">
                            <p class="mt-1">From clinical recruitment to FDA approval through commercial promotion and usage direct to patients, caregivers, and healthcare providers alike.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row clearfix">
                <div class="col-md-6 col-sm-12 mb-5">
                    <div class="row clearfix">
                        <div class="col-md-1 col-3">
                            <div class="d-flex h-100">
                            	<%= image_tag("stck-icon-ppl-4.svg")%>
                                <div class="d-flex h-100 w-100">
                                    <div class="justify-content-center align-self-center">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-11 col-9">
                            <div class="d-flex h-100 w-100">
                                <div class="justify-content-center align-self-center">
                                    <h5><strong>Perpetual optimization</strong></h5>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row clearfix">
                        <div class="col-md-12">
                            <p class="mt-1">Automated + specialist expertise creating maximum efficiency with every buy.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- /Info -->

    <!-- Featured Clients -->
    <section id="featured-clients" class="pt-5 pb-5">
        <div class="container">
            <div class="row clearfix mb-5">
                <div class="col-md-12">
                    <h2>Featured clients</h2>
                </div>
            </div>
            <div class="row clearfix">
                <div class="col-md-12">
                    <div id="slick">
                        <div class="d-flex h-100">
                            <div class="card p-3 row justify-content-center align-self-center" data-mh="client" style="margin: 0 auto;">
                            	<%= image_tag "logo-els.png" %>
                            </div>
                        </div>
                        <div class="d-flex h-100">
                            <div class="card p-3 row justify-content-center align-self-center" data-mh="client" style="margin: 0 auto;">
                            	<%= image_tag "logo-abiomed.svg" %>
                            </div>
                        </div>
                        <div class="d-flex h-100">
                            <div class="card p-3 row justify-content-center align-self-center" data-mh="client" style="margin: 0 auto;">
                            	<%= image_tag "logo-ignyta.png" %>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- /Featured Clients -->

    <!-- Talk To A Specialist -->
    <section id="talk-to-a-specialist">
        <div class="bg-white w-100 d-block d-md-none">&nbsp;<br /></div>
        <div class="container">
            <div class="row clearfix mb-0 pt-5 pb-5">
                <div class="col-md-12">
                    <div id="specialist-block" class="p-5">
                        <%= render partial: 'partials/specialist' %>
                    </div>
                </div>
            </div>
        </div>
        <div class="bg-white w-100 d-block d-md-none">&nbsp;<br /></div>
        
    </section>
    <!-- /Talk To A Specialist -->

    <!-- Next State -->
    <section id="next-state" style="z-index: 50; position: relative">
        <div class="container">
            <div class="row clearfix">
                <div class="col-md-12 pt-5 mb-5">
                    <h2>The next state of KrescendoMED</h2>
                </div>
            </div>
            <div class="row clearfix">
                <div class="col-md-12 text-center mb-5">
                    <p class="upsize">KrescendoMED, the programmatic media buying service, is evolving in big ways. Major enhancements and a total capability expansion mean healthcare's premier end-to-end programmatic media buying solution is not just on the horizon... <strong>it's almost here.</strong></p>
                </div>
            </div>
            <div class="row clearfix">
                <div class="col-md-12 text-center mb-5">
                	<%= image_tag "kmed-logo-w-trans.svg" %>                <!--
                    <img src="/assets/images/kmed-logo-w-trans.svg" class="img-fluid d-none d-md-inline-block">
                    <img src="/assets/images/next-state-small.svg" class="img-fluid img-responsive d-flex d-md-none w-100">-->
                </div>
            </div>
            <div class="row clearfix d-flex d-md-none">
                <div class="col-md-12 text-center mb-5">
                	<%= image_tag "down-arrow.svg" %>
                </div>
            </div>
            <div class="row clearfix">
                <div class="col-md-12 text-center mb-5">
                    <p class="upsize">A completely reinvented suite of healthcare media solutions evolutionized by KPI Agency.
                        <strong>Everything that's good about KrescendoMED now... and so much more.</strong></p>
                </div>
            </div>
            <div class="row clearfix d-none d-md-flex">
                <div class="col-md-12 text-center mb-5">
                	<%= image_tag "down-arrow.svg" %>
                </div>
            </div>
            <div class="row clearfix">
                <div class="col-md-12 text-center mb-5">
                    <h2>Features coming soon</h2>
                </div>
            </div>
            <div class="row clearfix">
                <div class="col-md-4 mb-5">
                    <div class="card text-center p-5" data-mh="blocks-r1">
                        <div class="row clearfix">
                            <div class="col-md-12 image" data-mh="image-height-r1">
                            	<%= "k-med-go-stacked.png" %>
                            </div>
                        </div>
                        <div class="row clearfix">
                            <div class="col-md-12 mt-4" data-mh="text-height-r1">
                                <p class="card-text">Quick turn, automated campaign builder to be live in <24 hours</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 mb-5">
                    <div class="card text-center p-5" data-mh="blocks-r1">
                        <div class="row clearfix">
                            <div class="col-md-12 image" data-mh="image-height-r1">
                            	<%= image_tag "home-lead-gen-icon.svg" %>
                            </div>
                        </div>
                        <div class="row clearfix mt-4">
                            <div class="col-md-12" data-mh="text-height-r1">
                                <p class="card-text">Pre-IRB-approved clinical trial patient lead generation landing pages &pre- screeners</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 mb-5">
                    <div class="card text-center p-5" data-mh="blocks-r1">
                        <div class="row clearfix">
                            <div class="col-md-12 image" data-mh="image-height-r1">
                            	<%= image_tag "k-med-hub-stacked.png" %>
                            </div>
                        </div>
                        <div class="row clearfix mt-4">
                            <div class="col-md-12" data-mh="text-height-r1">
                                <p class="card-text">A single, connected eco- system closing the loop, reporting on, and optimizing conversion tactics in real time</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 mb-5">
                    <div class="card text-center p-5" data-mh="blocks-r2">
                        <div class="row clearfix">
                            <div class="col-md-12 image" data-mh="image-height-r2">
                            	<%= image_tag "home-data-icon.svg" %>
                            </div>
                        </div>
                        <div class="row clearfix mt-4">
                            <div class="col-md-12" data-mh="text-height-r2">
                                <p class="card-text">New enhanced data sources & aggregation meets advanced algorithmic optimization</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 mb-5">
                    <div class="card text-center p-5" data-mh="blocks-r2">
                        <div class="row clearfix">
                            <div class="col-md-12 image" data-mh="image-height-r2">
                            	<%= image_tag "home-dash-icon.svg" %>
                            </div>
                        </div>
                        <div class="row clearfix mt-4">
                            <div class="col-md-12" data-mh="text-height-r2">
                                <p class="card-text">Custom performance dashboards & reporting</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 mb-5">
                    <div class="card text-center p-5" data-mh="blocks-r2">
                        <div class="row clearfix">
                            <div class="col-md-12 image" data-mh="image-height-r2">
                            	<%= image_tag "home-supp-icon.svg" %>
                            </div>
                        </div>
                        <div class="row clearfix mt-4">
                            <div class="col-md-12" data-mh="text-height-r2">
                                <p class="card-text align-bottom">Account services & expert media analyst support</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row clearfix">
                <div class="col-md-4 offset-md-4 text-center mb-5">
                    <a href="http://178.62.222.196/features" class="btn btn-info btn-block btn-lg no-underline">SEE IT ALL</a>
                </div>
            </div>
        </div>
    </section>
    <!-- /Next State -->

    <!-- Launch -->

<%= render partial: 'partials/launch' %>
<!-- /Subscribe -->

<!-- Footer -->
<%= render partial: 'partials/footer' %>
<!-- /Footer -->

<!-- Theme Scripts -->
<script src="http://178.62.222.196/assets/plugins/slick/slick.min.js"></script>
<script src="http://178.62.222.196/assets/plugins/select2/dist/js/select2.min.js"></script>
<script src="http://178.62.222.196/assets/js/zenscroll.min.js"></script>
<script src="http://178.62.222.196/assets/js/slider.js"></script>
<script src="http://178.62.222.196/assets/js/scripts.js"></script>
<script src="http://178.62.222.196/assets/js/jquery.matchHeight.js"></script>

    <script>
        $(document).ready(function() {
            var next_state_offset = $('#next-state').offset().top;
            console.log('next_state_offset', next_state_offset);

            $(window).on('scroll', function () {
                var slider_more_offset = $('#slider-more').offset().top;
                var threshold = 200;

                console.log('slider_more_offset', slider_more_offset);
                console.log('next_state_offset - slider_more_offset', next_state_offset - slider_more_offset);

                var z_index = 0;
                var op = ((next_state_offset - slider_more_offset)) / threshold;
                if( op <= 0 ){
                    z_index = 1;
                    $("#slider-more").hide();
                } else {
                    z_index = 9999;
                    $("#slider-more").show();
                }

                $("#slider-more").css("opacity", op );
                $("#slider-more").css("z-index", z_index );
            });
        });
    </script>

</body>
</html>